<div class="product" data-view="product">
  <div class="product__slider product__panel js-slider slider js-mobileSlider js-productSlider" data-slider="pdp">
    {% for img in product.images %}
      {% if forloop.index > 1 %}
        <div class="product__image slide js-slide">
          {% assign alt = img.alt %}
          <picture>
            <source media="(max-width: 375px)"
                    srcset="{{ img | image_url: width: 375, height: 451 }} 1x, {{ img | image_url: width: 750, height: 902 }}"/>
            <source media="(min-width: 376px)"
                    srcset="{{ img | image_url: width: 700, height: 850 }} 1x, {{ img | image_url: width: 1400, height: 1700 }}"/>
            <source media="(min-width: 1024px)"
                    srcset="{{ img | image_url: width: 830, height: 1000 }} 1x, {{ img | image_url: width: 1660, height: 2000 }}"/>
            <img src="{{ img | image_url: width: 375, height: 451 }}" alt="{{ alt }}" class="is-loading" height="375" width="451" loading="eager">
          </picture>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="product__details product__panel" itemscope itemtype="http://schema.org/Product">
    <h1 class="product__title" itemprop="name">
      {{ product.title }}
    </h1>
    <div class="product__price" itemscope itemtype="http://schema.org/Offer">
      <meta itemprop="priceCurrency" content="USD"/>
      <meta itemprop="price" content="{{ product.price | money_without_currency }}"/>
      <link itemprop="availability"
            href="{% if product.available %}http://schema.org/InStock{% else %}http://schema.org/OutOfStock{% endif %}"/>
      {% section 'bundle-product-samples5-price' %}
    </div>
    <div class="product__type">
      {{ product.type }}
      {% unless product.has_only_default_variant %}
        (&nbsp;℮&nbsp;<span
              class="js-variantTitle">{{ product.selected_or_first_available_variant.title }}</span>&nbsp;)
      {% endunless %}
    </div>
    <div class="product__description">
      {{ product.description }}
    </div>
    
    
    <!-- Include the Bundle Product Samples Section -->
    <div class="bundle-section-wrap">
      {% comment %} {% section 'bundle-product-samples-three' %} {% endcomment %}
      {% section 'foxsell-bundle-builder-5' %}
    </div>

    {% comment %} {% render 'product-add-to-cart-samples3', product: product %} {% endcomment %}
    <span class="js-scroll visually-hidden" data-callback="addToCart"></span>
    <div class="product__links">
      <button class="js-toggleShipping">Shipping & Returns</button>
    </div>
  </div>
  {% section 'product-shipping' %}

</div>

{% render 'products-slider',
  list: product.metafields["global"]["related-products"],
  title: 'You might also like:'
%}

{% comment %} {% render 'product-add-to-cart-bar', product: product %} {% endcomment %}
{% render 'product-arrow' %}
